.flex-container {
    display: flex;
}

.highlights {
    background-color: red;
    height: 200px;
}

.funding {
    background-color: purple;
    height: 200px;
}

@media screen and (min-width: 768px) {
    body {
        background-color: aqua;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-color: pink;
    }
}