
/*      			FLEX			     */
.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.spacebetween {
  justify-content: space-between;
}

/*            GRID            */
.grid-container {
  display: grid;
}

/*      			LENGTH AND WIDTH			        */
.full-width {
  max-width: 100%;
}

/*      			HEADER      			*/
.header-style {
  background-color: #eee;
}

/*		TOP NAV		*/
.top-nav {
  width: 100%;
  background-color: #131313;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 120%;
  color: #aeaeae;
  height: 0;
  width: 0;
  visibility: hidden;
}

.top-nav div {
  margin: 0 1rem;
  padding: 0.5rem 0;
}

.top-nav a {
  color: inherit;
  text-decoration: none;
  margin: 0.5rem;
}

.down-triangle {
  font-size: 50%;
  align-self: center;
}

/*		MID NAV		*/
.mid-nav {
  width: 100%;
  background-color: #fcfcfc;
  justify-content: space-between;
}

.logo {
  width: 10rem;
}

.mid-nav-links {
  width: 100%;
  align-items: center;
}

.mid-nav-left-links {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  visibility: hidden;
}

.mid-nav-left-links a {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  visibility: hidden;
}

.footer-links a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: #aaa;
}

.mid-nav-left-links a:visited {
  color: #999;
}

.search-icon {
  border: none;
  border-left: 2px solid #eee;
  background-color: #fcfcfc;
  padding: 1.2rem;
}

.search-icon img {
  height: 1.4rem;
}

.hamburger-icon {
  visibility: visible;
  border: none;
  border-left: 2px solid #eee;
  background-color: #fcfcfc;
  padding: 1.2rem;
}

.hamburger-icon img {
  height: 1.4rem;
}

/*		BOTTOM NAV		*/
.bottom-nav {
  background-color: #fd3;
  color: #201c07;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  padding: 5% 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*					~HEADER~					*/

/*      			MAIN        			*/

/*		HIGHLIGHTS		*/
.highlights {
  grid-template-areas: 'auto' 'auto' 'auto';
}

.funding {
  background-color: purple;
  height: 200px;
}

.article-item {
  align-items: flex-end;
  height: 20rem;
}

.article-opal {
  background-image: url(assets/images/opal.png);
  background-repeat: no-repeat;
  background-size: 150%;
}

.article-cookie-killer {
  background-image: url(assets/images/cookie-killer.png);
  background-repeat: no-repeat;
  background-size: 150%;
}

.article-mac-app {
  background-image: url(assets/images/mac_app.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
}

/*      FOOTER       */
.footer-style {
  align-items: center;
  background-color: #131313;
  width: 100%;
}

.social-media {
  width: 20%;
  min-width: 20rem;
  padding-top: 2.5%;
}

.social-media a img {
  height: 2rem;
}

.footer-links {
  padding-top: 1.5%;
  padding-bottom: 2.5%;
  width: 30%;
  justify-content: space-evenly;
}

.footer-links a:visited {
  text-decoration: none;
  color: #aaa;
}

.copyright-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  text-align: center;
  padding: 2.5% 0;
  background-color: #000;
  color: #aaa;
}

.stackpath-text-footer,
.title-text-footer {
  color: #fcfcfc;
}

/*      MEDIA QUERIES       */
@media screen and (min-width: 768px) {
  .top-nav {
    height: auto;
    width: 100%;
    visibility: visible;
  }

  .bottom-nav {
    text-align: left;
    padding: 0.8% 1.5%;
  }

  .logo {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    visibility: hidden;
    justify-self: flex-start;
  }

  .mid-nav {
    justify-content: initial;
  }

  .mid-nav-links {
    justify-content: space-between;
  }

  .mid-nav-left-links {
    width: 50%;
    height: auto;
    visibility: visible;
    padding-left: 1rem;
    justify-content: space-between;
  }

  .mid-nav-left-links a {
    width: auto;
    height: auto;
    visibility: visible;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: #999;
    text-decoration: none;
    margin: 0.5rem;
  }

  .search-icon {
    justify-self: flex-end;
  }

  .hamburger-icon {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    visibility: hidden;
  }

  .hamburger-icon img {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .highlights {
    background-color: red;
    grid-template-areas:
      'main main side'
      'main main side';
  }

  .article-opal {
    grid-area: main;
    height: 25rem;
  }

  .article-cookie-killer,
  .article-mac-app {
    height: 12.5rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-color: #fff;
  }

  .highlights {
    background-color: red;
    grid-template-areas:
      'main main side'
      'main main side';
  }

  .article-opal {
    height: 32rem;
  }

  .article-cookie-killer,
  .article-mac-app {
    height: auto;
  }
}
